# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
df = pd.read_csv("output_data/cities.csv")
df.head()

,city,latitude,longitude,weather,temperature,humidity,pressure,wind_speed
0,maykor,59.007140,55.886933,Snow,33.94,98,1016,5.23
1,butaritari,2.920538,172.918863,Clouds,81.88,71,1008,19.28
2,rikitea,-23.122954,-134.968014,Clouds,73.44,85,1017,9.26
3,pangnirtung,66.148020,-65.717283,Clouds,2.59,97,1009,2.57
4,kaitangata,-46.281739,169.846414,Clear,55.98,57,1027,11.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
data = df.loc[:, ["latitude", "longitude"]]

figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '0px',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout, map_type='SATELLITE')

heat = gmaps.heatmap_layer(data, weights=df.humidity)
fig.add_layer(heat)

fig

Figure(layout=FigureLayout(border='0px', height='600px', margin='0 auto 0 auto', padding='1px', width='800px')…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
mask = (df.wind_speed < 10) & (df.temperature < 80) & (df.temperature > 70) & (df.weather == "Clear")
hotel_df = df.loc[mask].reset_index(drop=True)
hotel_df

,city,latitude,longitude,weather,temperature,humidity,pressure,wind_speed
0,abu dhabi,24.453835,54.377401,Clear,78.82,53,1014,4.61
1,tsihombe,-25.318547,45.484057,Clear,72.41,80,1014,5.35
2,nampula,-15.119406,39.261589,Clear,71.62,83,1014,9.22
3,salalah,17.017495,54.101092,Clear,73.47,53,1016,5.75
4,ibra,22.689588,58.546979,Clear,70.86,65,1017,2.28
5,atar,20.518194,-13.054393,Clear,77.61,16,1014,5.64
6,carutapera,-1.201664,-46.020562,Clear,74.50,88,1013,4.94
7,beloha,-25.173662,45.061040,Clear,71.22,87,1014,3.83
8,abu samrah,24.200574,55.399052,Clear,79.70,37,1016,5.53
9,reefton,-42.115938,171.863456,Clear,73.36,35,1022,5.79
10,ormara,25.210563,64.637491,Clear,78.31,67,1016,5.26
11,inhambane,-23.865961,35.384363,Clear,75.85,92,1011,7.36
12,jiujiang,29.665383,115.947486,Clear,76.17,49,1019,4.05
13,sokoto,13.061059,5.237319,Clear,75.40,25,1009,5.26
14,puerto escondido,15.869333,-97.072643,Clear,77.50,85,1013,3.11
15,djougou,9.710668,1.665161,Clear,74.03,42,1010,3.09
16,shakawe,-18.363276,21.839848,Clear,73.04,49,1008,5.17
17,dharan,26.795398,87.277001,Clear,70.25,67,1018,2.98
18,tougan,13.069054,-3.069537,Clear,75.29,19,1010,7.34
19,rivadavia,-31.432251,-64.149080,Clear,70.52,41,983,8.05
20,ampanihy,-24.694126,44.747682,Clear,70.99,79,1014,2.28
21,anqing,30.527616,117.051596,Clear,75.63,49,1020,3.49
22,amapa,21.784447,-105.254711,Clear,71.31,93,1013,2.86
23,la rioja,-29.412741,-66.855880,Clear,77.97,37,1002,0.11
24,pimenta bueno,-11.676787,-61.186390,Clear,77.68,49,1009,2.19
25,katsina,12.989428,7.600628,Clear,73.85,24,1011,7.92
26,nioro,15.230453,-9.589906,Clear,73.72,15,1012,7.78
27,tlaltizapan,18.685805,-99.119253,Clear,76.98,68,1014,2.39
28,ballina,-28.865740,153.565947,Clear,74.01,56,1020,9.51
29,niono,14.251512,-5.978351,Clear,75.45,15,1011,8.97

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotels = []

for indx, row in hotel_df.iterrows():
    lat = row.latitude
    lng = row.longitude

    target_coordinates = f"{lat}, {lng}"
    target_search = "hotel"
    target_radius = 5000
    target_type = "lodging"

    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    response = requests.get(base_url, params=params)
    data = response.json()
    
    if (len(data["results"]) > 0):
        hotel = data["results"][0]["name"]
        address = data["results"][0]["vicinity"]
        rating = data["results"][0]["rating"]
        user_ratings_total = data["results"][0]["user_ratings_total"]
    else:
        hotel = None
        address = None
        rating = np.nan
        user_ratings_total = np.nan
        
    hotel = {"hotel" : hotel,
            "address": address,
            "rating": rating,
            "user_ratings_total": user_ratings_total}
    
    hotels.append(hotel)

In [9]:
df2 = pd.DataFrame(hotels)
df2.head()

,hotel,address,rating,user_ratings_total
0,Sheraton Khalidiya Hotel,"Zayed The First Street, Opposite KM Trading",3.8,2966.0
1,Littoral Hôtel,Tsihombe Tsihombe Androy,5.0,1.0
2,Grand Plaza Hotel,"V7M7+P76, Nampula",4.5,785.0
3,Al Baleed Resort Salalah by Anantara,"PC 214, Al Mansurah Street, Al Baleed, Salalah",4.7,1406.0
4,Capital O 141 Golden Rays Hotel,Ibra,3.9,42.0

In [12]:
hotel_full = pd.merge(hotel_df, df2, left_index=True, right_index=True)
hotel_full

,city,latitude,longitude,weather,temperature,humidity,pressure,wind_speed,hotel,address,rating,user_ratings_total
0,abu dhabi,24.453835,54.377401,Clear,78.82,53,1014,4.61,Sheraton Khalidiya Hotel,"Zayed The First Street, Opposite KM Trading",3.8,2966.0
1,tsihombe,-25.318547,45.484057,Clear,72.41,80,1014,5.35,Littoral Hôtel,Tsihombe Tsihombe Androy,5.0,1.0
2,nampula,-15.119406,39.261589,Clear,71.62,83,1014,9.22,Grand Plaza Hotel,"V7M7+P76, Nampula",4.5,785.0
3,salalah,17.017495,54.101092,Clear,73.47,53,1016,5.75,Al Baleed Resort Salalah by Anantara,"PC 214, Al Mansurah Street, Al Baleed, Salalah",4.7,1406.0
4,ibra,22.689588,58.546979,Clear,70.86,65,1017,2.28,Capital O 141 Golden Rays Hotel,Ibra,3.9,42.0
5,atar,20.518194,-13.054393,Clear,77.61,16,1014,5.64,نزل البحر والصحراء,Unnamed Road,3.9,11.0
6,carutapera,-1.201664,-46.020562,Clear,74.50,88,1013,4.94,Center Hotel,"R. Dep. Manoel Ribeiro, 571 - Centro, Carutapera",4.2,54.0
7,beloha,-25.173662,45.061040,Clear,71.22,87,1014,3.83,None,None,NaN,NaN
8,abu samrah,24.200574,55.399052,Clear,79.70,37,1016,5.53,Cataract Resort,6C7W+7CV,3.8,138.0
9,reefton,-42.115938,171.863456,Clear,73.36,35,1022,5.79,Dawsons Hotel,"74 Broadway, Reefton",4.3,258.0
10,ormara,25.210563,64.637491,Clear,78.31,67,1016,5.26,Al Qadri Hotel Zero Point Ormara,"6HXW+JJV, Omara Rd, Ormara",4.4,14.0
11,inhambane,-23.865961,35.384363,Clear,75.85,92,1011,7.36,Hotel Casa Do Capitão,"Balane 1, Av. Maguiguana, Inhambane",4.3,468.0
12,jiujiang,29.665383,115.947486,Clear,76.17,49,1019,4.05,Huangting International Hotel,"669 Shili Blvd, Xunyang District, Jiujiang",0.0,0.0
13,sokoto,13.061059,5.237319,Clear,75.40,25,1009,5.26,"Giginya Coral Hotel, Sokoto","26P8+V5X, Bye Pass, Sokoto",3.7,539.0
14,puerto escondido,15.869333,-97.072643,Clear,77.50,85,1013,3.11,Posada Real Puerto Escondido,"Blvd. Benito Juárez 1, Bacocho, Puerto Escondido",4.3,2460.0
15,djougou,9.710668,1.665161,Clear,74.03,42,1010,3.09,HOTEL CATHAS,"MMXF+H5M, Djougou",3.2,69.0
16,shakawe,-18.363276,21.839848,Clear,73.04,49,1008,5.17,Ditlhapi lodge,"JV53+5FX, Shakawe",3.7,36.0
17,dharan,26.795398,87.277001,Clear,70.25,67,1018,2.98,New Dreamland Hotel & Lodge,"R77G+835, Dhankute Road, Dharan",3.4,226.0
18,tougan,13.069054,-3.069537,Clear,75.29,19,1010,7.34,Hotel Zeela,"3W9M+2GG, N21, Tougan",3.5,63.0
19,rivadavia,-31.432251,-64.149080,Clear,70.52,41,983,8.05,Caseros 248 Hotel,"AHF, Caseros 248, Córdoba",4.6,1334.0
20,ampanihy,-24.694126,44.747682,Clear,70.99,79,1014,2.28,HOTEL SHARRON AMPANIHY OUEST,AMPANIHY CENTRE AMPANIHY OUEST,0.0,0.0
21,anqing,30.527616,117.051596,Clear,75.63,49,1020,3.49,Tianyu Times Hotel,"146 Zhongxing Ave, Yi Xiu Qu, Anqing",5.0,1.0
22,amapa,21.784447,-105.254711,Clear,71.31,93,1013,2.86,Hotel Santiago,"Arteaga 19, Centro, Santiago Ixcuintla",4.3,207.0
23,la rioja,-29.412741,-66.855880,Clear,77.97,37,1002,0.11,Reina Mora Hotel,"Rastreador Fournier 822, La Rioja",4.5,235.0
24,pimenta bueno,-11.676787,-61.186390,Clear,77.68,49,1009,2.19,Hotel Kanaan,"Marginal Da BR364, Av. Mal. Rondon, 287 - Pion...",4.3,462.0
25,katsina,12.989428,7.600628,Clear,73.85,24,1011,7.92,Albustan Hotel,"A9, Katsina",3.6,433.0
26,nioro,15.230453,-9.589906,Clear,73.72,15,1012,7.78,Hotel Guetema City,"69GR+V38, Nioro du Sahel",3.2,88.0
27,tlaltizapan,18.685805,-99.119253,Clear,76.98,68,1014,2.39,Hotel Piedras de Sol Solaris Morelos,"Chupamirtos S/N Fraccionamiento La Cima, Bonif...",3.7,245.0
28,ballina,-28.865740,153.565947,Clear,74.01,56,1020,9.51,Ramada Hotel & Suites by Wyndham Ballina Byron,"2 Martin St, Ballina",4.3,655.0
29,niono,14.251512,-5.978351,Clear,75.45,15,1011,8.97,Hôtel Campement,"7225+HC2, Niono",3.4,31.0

In [13]:
infos = []

for indx, row in hotel_full.iterrows():
    info_box_template = f"""<dl>
                        <dt>Hotel Name:</dt><dd>{row.hotel}</dd>
                        <dt>Rating:</dt><dd>{row.rating}</dd>
                        <dt>Address:</dt><dd>{row.address}</dd>
                        <dt>Location:</dt><dd>({row.latitude}, {row.longitude})</dd>
                        </dl>
                        """
    infos.append(info_box_template)
    
infos[0]

'<dl>\n                        <dt>Hotel Name:</dt><dd>Sheraton Khalidiya Hotel</dd>\n                        <dt>Rating:</dt><dd>3.8</dd>\n                        <dt>Address:</dt><dd>Zayed The First Street, Opposite KM Trading</dd>\n                        <dt>Location:</dt><dd>(24.4538352, 54.3774014)</dd>\n                        </dl>\n                        '

In [14]:
data = df.loc[:, ["latitude", "longitude"]]
hotel_data = hotel_full.loc[:, ["latitude", "longitude"]]

figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '0px',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout, map_type='SATELLITE')

heat = gmaps.heatmap_layer(data, weights=df.humidity)
fig.add_layer(heat)

markers = gmaps.marker_layer(hotel_data, info_box_content=infos)
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(border='0px', height='600px', margin='0 auto 0 auto', padding='1px', width='800px')…